.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
  }
  
 .customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    border: 1px solid #ddd;
    text-align: center;
    background-color: #818cf8 ;
    color: white;
  }
  .viMore{
    background-color: #818cf8;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  .searchForm{
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .Searchfield{
    width: 100%;
   
}