.container {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .addButton, .viewMoreButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }
  
  .form input {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
  
  .submitButton {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .employeeTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .employeeTable th, .employeeTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .employeeTable th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  .viewMoreButton, .deleteButton {
    color: white;
    background-color: blue;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .viewMoreButton:hover {
    background-color: darkblue;
  }
  
  .deleteButton {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  .empDH{
    font-weight: bold;
    font-size: 1.9em;
    text-align: center;
  }
  